{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
